{% extends 'main/layout.html' %}
{% load static %}
{% block css %}<link rel='stylesheet' href="{% static 'screener/css/screener.css' %}">{% endblock %}
{% block title %}Скринер Акций{% endblock %}
{% block main %}
    <div class="naming">
        <span class="country">Страна</span>
        <span class="time">Время</span>
        <span class="smart_score">Smart Score</span>
        <span class="ema10">EMA10</span>
        <span class="ema10_intersection">Пересечение EMA10</span>
        <span class="rsi">RSI</span>
        <span class="macd_intersection">MACD</span>
    </div>
    <div class="panel_select">
        <div class="country_selection">
            <select name="country_selection" id="country_selection">
                <option value="russia">Россия</option>
                <option value="america" selected>Америка</option>
            </select>
        </div>
        <div class="timeframe_selection">
            <select name="timeframe_selection" id="timeframe_selection">
                <option value="1M">1 Месяц</option>
                <option value="1W">1 Неделя</option>
                <option value="1d" selected>1 День</option>
                <option value="4h">4 Часа</option>
                <option value="3h">3 Часа</option>
                <option value="2h">2 Часа</option>
                <option value="1h">1 Час</option>
                <option value="30m">30 Минут</option>
                <option value="15m">15 Минут</option>
                <option value="5m">5 Минут</option>
            </select>
        </div>

        <div class="smart_score_selection">
            <select name="smart_score_selection" id="smart_score_selection">
                <option value="no">Не учитывать</option>
                <option value="10">10</option>
                <option value="9">9</option>
                <option value="8">8</option>
                <option value="7">7</option>
            </select>
        </div>

        <div class="ema10_selection">
            <select name="ema10_selection" id="ema10_selection">
                <option value='no'>Не учитывать</option>
                <option value="ema10_up">EMA10 &#8593;</option>
                <option value="ema10_down">EMA10 &#8595;</option>
            </select>
        </div>
        <div class="ema10_intersection_selection">
            <select name="ema10_intersection_selection" id="ema10_intersection_selection">
                <option value='no'>Не учитывать</option>
                <option value="ema10_intersection_up">EMA10 Пересечение &#8593;</option>
                <option value="ema10_intersection_down">EMA10 Пересечение &#8595;</option>
            </select>
        </div>
        <div class="rsi_selection">
            <select name="rsi_selection" id="rsi_selection">
                <option value='no'>Не учитывать</option>
                <option value="rsi_up">RSI &#8593;</option>
                <option value="rsi_down">RSI &#8595;</option>
            </select>
        </div>
        <div class="macd">
            <input type="checkbox" value="macd" id="macd">
            <label for="macd" class="macd_label"></label>
        </div>
        <div class="button">
        <button id="select_country_btn">Применить</button>
        </div>
    </div>
    <div class="other_pattern"></div>
    <table>
        <tbody>
            <tr class="title_table">
                <td>Тикер</td>
                <td>Страна</td>
                <td>Капитализация</td>
                <td>Smart Score</td>
                <td>EMA10 Пересечение<img src="/static/screener/img/up.png"></td>
                <td>EMA10 Пересечение<img src="/static/screener/img/down.png"></td>
                <td>MACD Пересечение</td>
                <td>EMA10 <img src="/static/screener/img/up.png"></td>
                <td>EMA10 <img src="/static/screener/img/down.png"></td>
                <td>RSI <img src="/static/screener/img/up.png"></td>
                <td>RSI <img src="/static/screener/img/down.png"></td>
            </tr>
        </tbody>
    </table>
    <div class="preloader_stocks"></div>
{% endblock %}
{% block js %}<script src="{% static 'screener/js/index.js' %}"></script>{% endblock %}

